// Keep in sync with src/utils/css-class.ts
$PRIMARY: "global__primary";
$PRIMARY_HIGHLIGHT: "global__primary-highlight";
$SECONDARY: "global__secondary";
$WON: "global__won";
$ICON_BTN: "global__icon-btn";
$HIDDEN: "global__hidden";
$EMOJI: "global__emoji";
$HINT: "global__hint";
$EMPHASIS: "global__emphasis";
$DIMMED: "global__dimmed";
